<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.paphonb.quickstepswitcher.overlay"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:isStatic="true" android:priority="999" android:targetPackage="android"/>
    <application android:label="QuickSwitch Overlay"/>
</manifest>
